.container {
    position: relative;
    display: inline-flex;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    border-top: solid 1px rgb(var(--foreground-rgb) / 10%);
}

.menu {
    display: flex;
    text-transform: capitalize;
}

.menu ul {
    list-style: none;
}

.menuItemHead {
    display: flex;
    flex-direction: column;
    padding: 0 0.75rem;
    cursor: pointer;
}

.menuItemImage {
    position: relative;
    width: 4rem;
    height: 4rem;
    display: flex;
    margin: 0 auto;
}

.menuItemTitle {
    display: inline-flex;
    width: 100%;
    color: rgb(var(--foreground-rgb) / 80%);
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 600;    
    text-decoration: none;
    font-family: "Rubik", sans-serif;
}

.menuItemTitle svg {
    margin-left: 0.5rem;
    font-size: 0.5rem;
    transition: var(--transition);
}

.menuItemChildrenContainer {
    display: none;
    position: absolute;
    top: 2.75rem;
    width: max-content;
    height: max-content;
}

.menuItemChildren {
    width: max-content;
    height: max-content;
    padding: 0.5rem;
    background: var(--background);
    color: var(--secondary-text);
    justify-content: space-between;
    overflow: hidden;
    border-radius: 0.25rem;
    transition: var(--transition);
}

.menuItemChildren .menuItemTitle {
    font-weight: 500;
}

.menuItemTitle:hover { 
    -webkit-text-stroke: 0.5px;
}

.menuItemHead[data-toggle="true"] > .menuItemTitle {
    border-bottom: solid 1px rgb(var(--foreground-rgb) / 50%);
}

.menuItemHead[data-toggle="true"] > .menuItemTitle svg {
    transform: rotate(180deg);
}

.menuItemHead[data-toggle="true"] > .menuItemChildrenContainer {
    display: flex;
    border: 1px solid rgb(var(--foreground-rgb) / 10%);
    box-shadow: 0px 5px 20px 0px rgb(var(--foreground-rgb) / 15%);    
}

.menuItemChildren:is([data-type="dropdown"]) .menuItemChildrenContainer {
    left: 100%;
    top: 0;
    margin-left: 0.25rem;
    width: 100%;
    min-height: 100%;
    align-items: center;
    border: none;
    box-shadow: none;
}

.menuItemChildren:is([data-type="dropdown"]) .menuItemHead[data-toggle="true"]  svg {
    transform: rotate(270deg);
}

.menuItemChildren:not([data-type="dropdown"]) {
    position: fixed;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100vw - 8rem);
    max-width: 67rem;
    height: max-content;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0px 5px 20px 0px rgb(var(--foreground-rgb) / 15%);
}

.menuItemChildren:not([data-type="dropdown"]) .menuItemTitle {
    font-weight: 600;
}

.menuItemChildren:not([data-type="dropdown"]) svg {
    display: none;
}

.menuItemChildren:not([data-type="dropdown"]) .menuItemTitle:is(a) {
    font-weight: 300;
}

.menuItemChildren:not([data-type="dropdown"]) .menuItemTitle:not(a) {
    -webkit-text-stroke: 0;
    cursor: default;
}

.menuItemChildren:not([data-type="dropdown"]) .menuItemChildrenContainer {
    position: unset;
    display: flex;
}

.menuItemChildren:not([data-type="dropdown"]) .menuItemChildren {
    position: unset;
    display: flex;
    flex-direction: column;
    width: max-content;
    align-items: center;
    transform: translateX(0);
}

.menuItemChildren:is([data-type="category"]) .menuItemTitle {
    justify-content: center;
}

.menuItemChildren:is([data-type="images"]) {
    max-width: 50rem;
}

.menuItemChildren:is([data-type="images"]) .menuItemTitle:is(a) {
    display: block;
    margin: 1rem auto;
}

.menuItemChildren:is([data-type="images"]) .menuItemImage{
    margin-bottom: 0.5rem;
}

@media (prefers-color-scheme: dark) {   
    .menuItemTitle {
        color: var(--background);
    }
    .menuItemChildren {
        background: var(--foreground);
    }
}