.container {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    overflow: hidden;
}

.background {
    display: flex;
    width: 100%;
    height: 100%;
    opacity: 0;
    justify-content: flex-end;
    background: rgb(var(--foreground-rgb) / 80%);
    overflow: hidden;
    transition: var(--transition);
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 20rem;
    padding-top: 3rem;
    font-size: 0.8rem;
    background: var(--background);
    color: rgb(var(--foreground-rgb) / 80%);
    font-family: "Jost", sans-serif;
    transform: translateX(100%);
    overflow-y: auto;
    transition: 0.25s ease-in-out;
}

.buttonClose {
    position: absolute;
    display: flex;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    background: transparent;
    cursor: pointer;
}

.logo {
    position: relative;
    width: 100%;
    height: 4rem;
}

.menuContainer {
    flex: 1;
    border-top: solid 1px rgb(var(--foreground-rgb) / 10%);
    margin: 1rem 0 0 0;
    padding: 1rem 0.75rem;
    font-family: "Rajdhani";
}

.menu {
    text-transform: capitalize;
}

.menu > ul {
    padding: 0.25rem 1rem 1rem;
}

.menu ul {
    list-style: none;
    width: 100%;
}

.menuItemHead {
    display: flex;
    flex-direction: column;
    min-height: 2rem;
    font-size: 1.2rem;
    align-items: center;
}

.menuItemTitle {
    display: inline-flex;
    width: 100%;
    color: rgb(var(--foreground-rgb) / 80%);
    font-size: 0.9rem;
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    transition: var(--transition);
}

.menuItemTitle svg {
    transition: var(--transition);
}

.menuItemChildrenContainer {
    display: none;
    width: 100%;
}

.menuItemChildren {
    padding: 0.5rem 0 0 0.5rem;
    overflow: hidden;
    transition: var(--transition);
}

.menuItemImage {
    position: relative;
    width: 2rem;
    height: 2rem;
}

.menuItemChildren .menuItemTitle {
    font-size: 0.8rem;
    font-weight: 400;
}

.menuItemHead[data-toggle="true"] > .menuItemTitle {
    border-bottom: solid 1px rgb(var(--foreground-rgb) / 10%);
}

.menuItemHead[data-toggle="true"] > .menuItemTitle svg {
    transform: rotate(180deg);
}

.menuItemHead[data-toggle="true"] > .menuItemChildrenContainer {
    display: block;
}

.menuItemChildren:is([data-type="images"]) .menuItemTitle {
    justify-content: flex-start;
    gap: 0.5rem;
}

.user {
    padding: 0.5rem;
    border-top: solid 1px rgb(var(--foreground-rgb) / 10%);
}

.loginInput {
    width: 100%;
    height: 2.5rem;
    margin: 0.5rem 0;
    padding: 0 0.5rem;
    border: none;
    border-radius: 0.25rem;
    background: rgb(var(--foreground-rgb) / 10%);
    color: rgb(var(--foreground-rgb) / 80%);
    font-size: 0.8rem;
    font-family: "Jost", sans-serif;
    transition: var(--transition);
}

.loginButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    margin: 0.25rem auto;
    border: none;
    border-radius: 0.25rem;
    background: var(--primary);
    color: var(--background);
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {   
    .loginButton {
        color: var(--foreground);
    }
}