@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #1b2d5e;
    --primary-rgb: 27 45 94;
    /* --primary-rgb: 26 69 187; */
    
    --background: #ffffff;
    --background-rgb: 255 255 255;
    
    --foreground: #1e1e1e;
    --foreground-rgb: 30 30 30;
    
    --primary-text: #1e1e1e;
    --secondary-text: #ffffff;

    --transition: 0.5s ease-in-out;
}

@media (prefers-color-scheme: dark) {
    :root {       
        --background: #1e1e1e;
        --background-rgb: 30 30 30;
        
        --foreground: #ffffff;
        --foreground-rgb: 255 255 255;
        
        --primary-text: #ffffff;
        --secondary-text: #1e1e1e;
      }
      
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
    color: var(--primary-text);
    background: var(--background);
}

input {
    outline: none;
}

.container {
    width: 100vw;
    max-width: 75rem;
    padding: 0 1rem;
}

.container-fluid {
    width: 100vw;
}