.container {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    overflow: hidden;
}

.background {
    display: flex;
    width: 100%;
    height: 100%;
    opacity: 0;
    justify-content: flex-end;
    background: rgb(var(--foreground-rgb) / 80%);
    overflow: hidden;
    transition: var(--transition);
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 20rem;
    padding-top: 3rem;
    font-size: 0.8rem;
    background: var(--background);
    color: rgb(var(--foreground-rgb) / 80%);
    font-family: "Jost", sans-serif;
    transform: translateX(100%);
    transition: var(--transition);
    transition: 0.25s ease-in-out;
}

.buttonClose {
    position: absolute;
    display: flex;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    background: transparent;
    cursor: pointer;
}

.basketList {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    overflow-y: auto;
}

.basketItem {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border-top: solid 1px rgb(var(--foreground-rgb) / 10%);
}

.basketItem:first-child {
    border: none;
}

.basketItemImg {
    position: relative;
    width: 5rem;
    height: 5rem;
    margin: auto 0.5rem;
}

.basketItemInfo {
    display: flex;
    flex-direction: column;
}

.basketItemQuantity {
    margin: auto 0.5rem;
    font-family: "Open Sans", sans-serif;
}

.basketItemPrice {
    font-family: "Open Sans", sans-serif;
}

.basketItemRemove {
    margin-right: 0.5rem;
    cursor: pointer;
}

.basketResume {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    border-top: solid 1px rgb(var(--foreground-rgb) / 20%);
    box-shadow: 0 -5px 5px 0 rgb(var(--foreground-rgb) / 15%);
}

.basketResumeItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 1rem;
}

.basketResumeTotal {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 1rem;    
}

.basketResumeTotal::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 2rem);
    margin: auto 1rem;
    border-top: solid 1px rgb(var(--foreground-rgb) / 30%);
}

.basketAction {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.2rem 1rem;
}

.basketActionButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    margin: 0.25rem auto;
    border: none;
    border-radius: 0.25rem;
    background: var(--primary);
    color: var(--background);
    cursor: pointer;
}