.container {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 100vw;
    height: 100%;
    margin: auto;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: var(--transition);
}

.active {
    transform: translateX(0);
}

.controls {
    position: absolute;
    display: flex;
    top: 0;
    z-index: 100;
    height: 100%;
    font-size: 2rem;
    align-items: center;
    opacity: 0;
    cursor: pointer;
    transition: var(--transition);
}

.controlLeft {
    left: 0;
    padding-left: 1rem;
    transform: translateX(-100%);
}

.controlRight {
    right: 0;
    padding-right: 1rem;
    transform: translateX(100%);
}

.container:hover .controlLeft, .container:hover .controlRight {
    opacity: 0.6;
    transform: translateX(0);
}

.infiniteContainer {
    display: flex;
}

.infiniteContent {
    display: flex;
    position: relative;
    width: fit-content;
    flex-wrap: nowrap;
    gap: 2rem;
    justify-content: center;
}

.infinitContentChild {
    transition: var(--transition);
}